/* TarjetaReserva.module.css */
.container {
    display: flex;
    background-image: url('/img13.jpg');
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    height: auto; /* Permitir que el contenedor ajuste su altura automáticamente */
    min-height: 100vh; /* Asegura que al menos ocupe toda la altura de la ventana */
    background-color: #121212; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    padding: 20px;
  }
  
  .background {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .logoContainer {
    margin-bottom: 20px; /* Espacio entre el logo y la descripción */
  }
  
  .logo {
    width: 300px; /* Ajusta el tamaño según sea necesario */
    height: auto;
  }
  
  .description {
    text-align: center;
    margin-bottom: 15px; /* Espacio entre la descripción y la tarjeta */
    color: #000;
    font-family: 'Arial', sans-serif;
    color: #050505;
    background: #ffffff;
    border-radius: 20px;
    
   

  }
  
  .reservationContainer1 {
    display: flex;
    justify-content: center; /* Centra la tarjeta horizontalmente */
    
  }
  
  .reserveCard1 {
    background-color: #ffffff; /* Fondo blanco para la tarjeta */
    color: #000; /* Texto negro */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 20px; /* Espaciado interno */
    max-width: 300px; /* Ancho máximo de la tarjeta */
    text-align: center; /* Centrar texto */
    cursor: pointer; /* Cambiar el cursor al pasar sobre la tarjeta */
    transition: transform 0.2s; /* Transición para el efecto hover */
  }
  
  .reserveCard:hover {
    transform: scale(1.05); /* Efecto de aumento al pasar el ratón */
  }
  
  .fullscreenContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
  }
  
  .dateTimePickerWrapper {
    display: flex;
    justify-content: space-between; /* Alinear contenido a los lados */
    align-items: flex-start; /* Alinear al inicio (parte superior) */
    width: 100%; /* Ocupa el 100% del ancho */
    padding: 10px; /* Espaciado alrededor */
    gap: 10px;
  }
  
  .datePickerContainer {
    flex: 1; /* Toma el espacio disponible */
    text-align: center;
    margin-top: 5px; /* Espacio a la derecha */
  }
  
  .timePickerContainer {
    align-items: center; /* Centrar horizontalmente */
    text-align: center;
    justify-content: center; /* Centrar verticalmente */
    flex: 1; /* Toma el espacio disponible */
    margin-right: 20px; /* Reduce el espacio lateral entre los contenedores */

  }
  
  .timeGrid {
    display: grid; /* Cambiar a grid para crear una cuadrícula */
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    gap: 25px; /* Espacio entre botones */
  }
  
  .timeButton {
  padding: 8px;
  font-size: 14px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Asegura que los botones ocupen todo el ancho de las celdas */
  }
  
  .timeButton:hover {
    background-color: #ccc;
  }
  
  .formOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro más oscuro */
    backdrop-filter: blur(5px); /* Efecto de desenfoque */
    z-index: 1000; /* Asegura que el overlay esté por encima de otros elementos */
}

.formCard {
    background-color: #ffffff; /* Color de fondo blanco */
    padding: 30px; /* Espaciado alrededor */
    color: #000;
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    width: 90%;
    max-width: 450px; /* Ampliar el ancho máximo */
    position: relative; /* Posicionamiento relativo para el botón */
}

.reserveButton {
    margin-top: 20px;
    padding: 10px;
    background-color: #28a745; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transición para el color de fondo */
}

.reserveButton:hover {
    background-color: #218838; /* Verde más oscuro al pasar el ratón */
}

.buttonContainer {
    display: flex;
    justify-content: space-between; /* Espacio entre los botones */
    margin-top: 20px; /* Espacio superior para los botones */
}

.cancelButton {
    margin-top: 20px; /* Espacio entre botones */
    padding: 10px;
    background-color: #dc3545; /* Rojo */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transición para el color de fondo */
}

.cancelButton:hover {
    background-color: #c82333; /* Rojo más oscuro al pasar el ratón */
}

.formInput {
    width: calc(100% - 20px); /* Ocupa el ancho completo menos el padding */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 15px; /* Espacio entre inputs */
    font-size: 14px; /* Tamaño de fuente */
}

.formInputs {
  display: grid; /* Usar grid para organizar los inputs */
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  gap: 15px; /* Espacio entre los inputs */
  
}


.formInput:focus {
    border-color: #28a745; /* Borde verde al enfocar */
    outline: none; /* Quitar el contorno predeterminado */
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5); /* Sombra verde */
}

.formInputs {
    display: grid; /* Usar grid para organizar los inputs */
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 15px; /* Espacio entre los inputs */
}


  /* Nuevo logo para la vista de selección de fecha y hora */
.logoContainerHora {
    margin-bottom: 20px; /* Ajusta el margen si es necesario */
    display: flex;
    justify-content: center;
}

.logoContainer {
    margin-bottom: 20px; /* Ajusta el margen si es necesario */
    display: flex;
    justify-content: center;
    
}

.logo {
    width: 300px; /* Ajusta el tamaño según sea necesario */
    height: auto;
}

.descriptionHora {
    text-align: center;
    margin-bottom: 15px; /* Espacio entre la descripción y la tarjeta */
    
    font-family: 'Arial', sans-serif;
    color: #050505;
    background: #ffffff;
    border-radius: 20px;
}

.errorContainer {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.errorMessage {
  margin: 0;
}
